# Brave Search API Key
BRAVE_API_KEY=XXXX

# Azure OpenAI 
AZURE_OPENAI_API_KEY=XXXX
AZURE_OPENAI_ENDPOINT=XXXX
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-4o"

# AWS Bedrodk
AWS_ACCESS_KEY_ID=XXXX
AWS_SECRET_ACCESS_KEY=XXXX
AWS_REGION=us-west-2
AWS_BEDROCK_MODEL_ID=us.anthropic.claude-sonnet-4-5-20250929-v1:0
AWS_MAX_TOKENS=8192

# Arxiv storage path
ARXIV_STORAGE_PATH=XXXX
ARXIV_MCP_SERVER_PATH=XXXX

# Serena MCP Server Path
SERENA_MCP_SERVER_PATH=XXXX

# Financial Datasets MCP Server Path
FINANCIAL_DATASETS_MCP_SERVER_PATH=XXXX

# Wold Bank MCP Server Path
WORLD_BANK_MCP_SERVER_PATH=XXXX

LAWS_API_BASE_URL="https://laws.e-gov.go.jp/api/2"

# Tool Consent and Bypassing
BYPASS_TOOL_CONSENT="true"

# アプリケーション設定
APP_NAME=Strands Chat Webapp
APP_VERSION=1.0.0
DEBUG=True
LOG_LEVEL=INFO

# Skills Verify
# workflow.py full mode log output
WORKFLOW_FULL_LOG_ENABLED=true
WORKFLOW_FULL_LOG_FILENAME=workflow-full.log